body {
	background-color: #ddd;
	font-family: sans-serif;
}

.answer{
    background-color:black;
    display:inline-block;
    width:100px;
    text-align: center;
}

.round {
	font-size: 30px;
	margin-left: 30px;

}

.points {
	font-weight: 900;
	font-size: 15px;
	color: #393;
	font-family: monospace;
	white-space: pre;
}

.points:hover {
	color: blue;
	cursor: pointer;
}
/*
.answer:hover {
	color: white;
}*/